<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asfalis">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".contentview" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".detailView"
            android:theme="@style/AppTheme2" />
        <activity android:name=".changePassword" />
        <activity android:name=".setPassword" />
        <activity android:name=".updateWindow" />
        <activity android:name=".listview"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Searchcontent" />
        <activity android:name=".Addcontent" />
        <activity android:name=".secret"
            android:theme="@style/AppTheme2" />
        <activity android:name=".second" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>